<div class="container p-4">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-title">
                    <h3>Registrarse</h3>
                </div>
                <div class="card-body">
                    <form action="/users/register" method="POST">
                        <div class="form-group">
                            <label for="Nombres" class="form-label">Nombres & Apellidos</label>
                            <input  type="text"  required name="nombres" placeholder="Escriba aquí" class="form-control"
                                autofocus style="text-transform: uppercase;" />
                        </div>
                        <div class="form-group">
                            <label for="Correo" class="form-label">Correo Electronico</label>
                            <input type="email"  required name="email" placeholder="micorreo@correo.com" class="form-control"
                                autofocus style="text-transform: lowercase"  />
                        </div>
                        <div class="form-group">
                            <label for="Telefono" class="form-label">Telefono de Contacto</label>
                            <input type="number" required name="phone" placeholder="1234567890" class="form-control"
                                autofocus />
                        </div>
                        <div class="form-group">
                            <label for="direccion" class="form-label">Dirección Residencia</label>
                            <input type="text" required name="address" placeholder="Escriba aquí" class="form-control"
                                autofocus />
                        </div>
                        <div class="form-group">
                            <br>
                            <div class="d-grid gap-2">
                                <button class="btn btn-primary" type="submit">Registrarse</button>
                                <a  href="/users" class="btn btn-light" type="button">Cancelar</a>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>