<div class="container p-4">
    <div class="col-md-4 mx-auto">
        <div class="card text-center">
            <div class="card-body">
                <h3>Nos alegra tenerte de vuelta {{newUser.nombresCompletos}} </h3>
                <h4>{{newUser.nombreUsuario}}</h4>
                <a href="/vehicles" class="btn btn-primary m-4">
                    Ver vehiculos registrados.
                </a>
                <a href="/vehicles/register" class="btn btn-primary m-2">
                    Registrar un vehiculo.
                </a>
            </div>
        </div>
    </div>
</div>      