<nav class="navbar navbar-expand-lg navbar bg-primary" data-bs-theme="dark" " data-bs-theme="dark ">
   
        <div class="container-fluid">
            <a class="navbar-brand" href="#" >
                <img src="/img/logo.png" alt="Logo"  > Parqueadero 360ยบ</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" style="justify-content:end;" id="navbarSupportedContent">
                <ul class="navbar-nav ml-50">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/signin">Iniciar Sesion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/signup">Registrarse</a>
                    </li>
    
                </ul>
    
            </div>
        </div>
    

</nav>