<div class="container p-4">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-title">
                    <h3>Registrarse</h3>
                </div>
                <div class="card-body">
                    <form action="/links/register" method="POST">
                        <div class="form-group">
                            <input type="text" name="Nombres" placeholder="Nombres y Apellidos Completos" class="form-control" autofocus autocapitalize="characters">

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>